<h2>You're logged in with Facebook!!</h2>
<p>Below are your account details fetched from a secure API endpoint:</p>
<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Facebook Id</th>
      <th>Name</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <tr *ngIf="account">
      <td>{{ account.id }}</td>
      <td>{{ account.facebookId }}</td>
      <td>{{ account.name }}</td>
    </tr>
    <tr *ngIf="!account">
      <td colspan="5" class="text-center">
        <span class="spinner-border spinner-border-lg align-center"></span>
      </td>
    </tr>
  </tbody>
</table>
